/*
------------------------------------------------------------------------
-- Square Button
------------------------------------------------------------------------
 */

a.ovalbutton {
    background: transparent url( '../images/oval-blue-left.gif' ) no-repeat scroll left top;
    display: block;
    float: left;
    font: normal 13px Tahoma; /* Change 12px as desired */
    line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
    height: 24px; /* Height of button background height */
    padding-left: 11px; /* Width of left menu image */
    text-decoration: none;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton {
    color: #494949; /*button text color*/
}

a.ovalbutton span {
    background: transparent url( '../images/oval-blue-right.gif' ) no-repeat scroll right top;
    display: block;
    padding: 4px 11px 4px 0; /*Set 9px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover {
/* Hover state CSS */
    background-position: bottom left;
}

a.ovalbutton:hover span {
/* Hover state CSS */
    background-position: bottom right;
    color: black;
}

.buttonwrapper {
/* Container you can use to surround a CSS button to clear float */
    overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
    width: 100%;
}

a.orange {
    background: transparent url( '../images/oval-orange-left.gif' ) no-repeat scroll left top;
}

a.orange span {
    background: transparent url( '../images/oval-orange-right.gif' ) no-repeat scroll right top;
}

a.gray {
    background: transparent url( '../images/oval-gray-left.gif' ) no-repeat scroll left top;
}

a.gray span {
    background: transparent url( '../images/oval-gray-right.gif' ) no-repeat scroll right top;
}
