.overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5000;
	background:#000000;
}

.overlay[class]{
	position:fixed;
}

.prototube {
	position:absolute;
	top:50%;
	left:50%;
	margin:0;
	z-index:5001;
	background:#FFFFFF;
}