.aerobuttonmenu {
/*container that holds a row of aero buttons*/
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: auto;
	background: #39414A; /*menu strip background*/
	border: 1px solid gray;
	padding: 4px 0;
	border-width: 1px 0;
}

.aerobuttonmenu a.aero {
/*aero button CSS*/
	background: transparent url( aero-blue-left.gif ) no-repeat top left;
	display: block;
	float: left;
	font: bold 13px Verdana, Trebuchet MS; /* Change 13px as desired */
	line-height: 23px; /* This value + 8px should equal height of button background (default is 31px) */
	height: 31px; /* Height of button background height */
	padding-left: 10px; /* Width of left menu image */
	text-decoration: none;
	margin-right: 5px; /*spacing between buttons*/
	filter: progid: DXImageTransform . Microsoft . Alpha( opacity = 90 ); /*this and next two rules control opacity of buttons before hover*/
	opacity: 0.9;
	-moz-opacity: 0.9;
}

.aerobuttonmenu a.aero:link, .aerobuttonmenu a.aero:visited, .aerobuttonmenu a:active {
	color: #ffb560; /*button text color*/
}

.aerobuttonmenu a.aero span {
	background: transparent url( aero-blue-right.gif ) no-repeat top right;
	display: block;
	padding: 4px 10px 6px 0; /*Set 10px here to match value of 'padding-left' value above*/
}

.aerobuttonmenu a.aero:hover {
/* Hover state CSS */
	filter: progid: DXImageTransform . Microsoft . Alpha( opacity = 100 ); /*this and next two rules control opacity of buttons during hover*/
	opacity: 1;
	-moz-opacity: 0.99;
}

.aerobuttonmenu a.aero:hover span {
/* Hover state CSS (for text) */
	color: yellow;
}

.black a.aero {
	background-image: url( 'aero-black-left.gif' );
}

.black a.aero span {
	background-image: url( 'aero-black-right.gif' );
}

.aerobuttonmenu .rightsection {
	float: right;
	width: 100px;
	position: relative;
	top: 3px;
	padding-right: 5px;
	text-align: right;
}

.aerobuttonmenu .rightsection a {
	color: navy;
}
