<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
  ~ Apache License
  ~ Version 2.0, January 2004
  ~ http://www.apache.org/licenses/
  ~
  ~ Copyright 2008-2010 by chenillekit.org
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  -->

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--suppress WebProperties -->
<web-app>

    <display-name>ChenilleKit Access Integration Tests</display-name>

    <context-param>
        <param-name>tapestry.app-package</param-name>
        <param-value>org.chenillekit.access.integration.app1</param-value>
    </context-param>

    <filter>
        <filter-name>testAppWithRoot</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>testAppWithRoot</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
