<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ChenilleKit Access Tests" annotations="1.5" verbose="2">

  <test name="Unit Tests" enabled="true">
    <packages>
      <package name="org.chenillekit.access.internal"/>
    </packages>
  </test>

  <test name="Main Integration Tests" enabled="true">
    <parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
    <packages>
      <package name="org.chenillekit.access.integration.app1"/>
    </packages>
    <classes>
      <class name="org.apache.tapestry5.test.SeleniumLauncher"/>
    </classes>
  </test>
  
  <test name="Main PageTester Tests" enabled="true">
    <packages>
      <package name="org.chenillekit.access.pagetester"/>
    </packages>
  </test>
  
</suite>
